@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}


.conteiner {
   width: 90%;
   max-width: 1000px;
   margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(3 , 1fr); */
    /* grid-template-rows: repeat(4 , auto); */
    
}

body {
    background-color: rgb(137, 129, 33);
}

.Logo {
    width: 150px;
    height: auto;

}
 .navbar{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
   
}
.bar{
    
    display: flex;
    gap: 22px;
    justify-content: space-evenly;
    align-items: center;
}
.conteiner ul li {
    display: inline-block;
}

.header{
    background-color: rgb(76, 75, 22);
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
}
.conteiner .article{
    grid-column: span 2;

}
 .related{
    grid-column: 3/4;
    background-color:rgb(231, 177, 10);
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    grid-row: span 2;
}

.conteiner .related ul li{
    display: grid;

}
.article h1{
    text-align: center;
    font-size: xx-large;
    color: #FAF0D7;
    text-decoration: overline underline;
    text-underline-offset: 10px;
}
.related h2{
    text-align: center;
    margin-top: 25px;
    background-color: rgb(247, 241, 229);
    /* margin-bottom: 0; */
    /* max-height: 20px; */

}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    
   
}
.related ul{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-left: 80px;
    gap: 20px;

}
p{
    text-align:justify;
}

.division{
    width: 52%;
    height: auto;
    
}
.conteiner2 {
    display: flex;
    justify-content: center;
}
.parrafo{
    text-align: center;
    background-color: black;
    color:#FAF0D7
}
.parrafo2{
    text-align: center;
    
}
.footer{
    background-color: rgb(96, 108, 93);
    position:fixed; bottom:0; z-index:999999;
}